/* commons */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100%;
    margin: 0 auto;
}

.left{
    float: left;
}

/* .right{
    float: right;
} */

.clearfix::after{
    content: "";
    clear: both;
    display: table;
}

body{
    margin: 1% 8%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.margin-btm{
    margin-bottom: 20px;
}

.margin-top{
    margin-top: 20px;
}

.pad-btm{
    padding-bottom: 20px;
}

/* header */

header{
    height: 650px;
}

.header-top{
    width: 100%;
    height: 90px;
}

#logo{
    height: 54px;
    border-right: 2px solid lightgrey;
    padding-right: 20px;
}

nav{
    height: 36px;
    line-height: 36px;
}

li{
    display: inline-block;
    margin-right: 10px;
    color: grey;
    text-transform: uppercase;
}

.jumbotron{
    width: 100%;
    height: 460px;
}

#jumbo-cont{
    background-image: url(../img/banner.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 15px;
}

#primo-titolo{
    width: 60%;
    color: white;
    padding: 275px 40px 0;
    font-size: 32px;
}

#secondo-titolo{
    width: 55%;
    color: white;
    font-size: 16px;
    padding-left: 40px;
}

/* main */

main{
    background-color: blue;
}

.content{
    width: 25%;
}

.mid-content{
    width: 50%;
    padding: 0 2%;
}

/* footer */

footer{
    width: 100%;
    height: 50px;
}


/* ***********************************debug*********************************  */

.header-top .debug{
    height: 100px;
    background-color: violet;
}

.jumbotron .debug{
    height: 460px;
    background-color: gold;
}

.top-content .debug{
    height: 100px;
    background-color: lightskyblue;
}

.content .debug,
.mid-content .debug{
    height:350px;
    background-color: lightskyblue;
}

footer .debug{
    background-color: purple;
    height: 100%;
}